/* Основний стиль для body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

/* Оформлення заголовків і тексту */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

/* Оформлення заголовка */
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

/* Контейнер для хедера */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Хедер */
.top-line {
    border-bottom: 1px solid #e7e9fc;
}

/* Контейнер хедера */
.header-container {
    display: flex;
    justify-content: space-between;
}

/* Оформлення навігації */
.site-nav {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: flex;
    gap: 40px;
}

.nav-element {
    color: #2e2f42;
    padding: 24px 0;
}

.nav-element:hover,
.nav-element:focus {
    color: #404bbf;
}

/* Логотип */
.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

/* Оформлення контактів */
.contacts {
    display: flex;
    align-items: center;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact:hover,
.contact:focus {
    color: #404bbf;
}